button[type="submit"]{
  text-transform: uppercase;
}

.emphasis {
  font-style: italic;
}

.btn {
  padding: 0.7rem 2.5rem;
}

.validation-error {
  color: rgb(226, 92, 92);
}

.logo {
  display: block;
    width: 60%;
    align-self: flex-end;
    padding: 2rem 0;
    margin-right: 6%;
  }

  .vertical-fieldset {
    padding: 1rem 0;
  }
  
  .login {
    width: 100%;
    height: 100vh;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    background-image: url("../floatmellow_background.svg");
    background-color: rgb(70, 185, 141);
    background-repeat: repeat;
    background-size: cover;
  }

  .login-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    justify-content: flex-end;
    padding: 2rem;
  }
  
  .login-header {
    width: 100%;
    font-size: 2.3rem;
    line-height: 2.5rem;
    color: rgb(255, 236, 129);
    text-shadow: 6px 6px rgba(255, 255, 255, 0.082);
    padding: 2rem;
  }
  
  .login-form {
    margin: 2rem auto 6rem auto;
    width: 60%;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.1);
  }

@media (min-width: 428px){
  
  .logo {
      width: 40%;
    }
    
    .login {
      padding-bottom: 5rem;
    }
  
    .login-heading {
      background-color: transparent;
    }
    
    .login-header {
      width: 90%;
      max-width: 800px;
      font-size: 3rem;
      line-height: 3rem;
      justify-self: center;
    }
    
    .login-form {
      margin-top: 3rem;
      width: 80%;
      max-width: 600px;
    }
}


@media (min-width: 1280px){
 
  .logo {
      width: 20%;
      padding: 2rem 0;
      align-self: initial;
    }

    .login {
      padding-bottom: 0;
    }
  
    .login-heading {
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 60%;
    }
    
    .login-header {
      width: 60%;
      line-height: 3.5rem;
    }
    
    .login-form {
      width: 20%;
      margin: 0 35%;
    }
}
