.battery-life-block {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
    padding:1rem;
    width: 90%;
    box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  }

  .battery-icon {
    margin: 0 auto;
    }

  @media (min-wdith: 1280px) {
    .battery-life-block {
      width: 90%;
    }
  }