input:read-only {
  pointer-events: none;
}

.switch {
  margin-left: 5%;
  justify-self: flex-end;
}

.settings-block {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2% auto;
  }
  
  .settings-block > button {
    align-self: flex-end;
  }
  
  .device-info-form {
    align-content: center;
    margin: 1rem 0;
    width: 100%;
  }
  
  .uuid-input {
    background-color: rgb(214, 214, 214);
    height: 20px;
  }
  
  .settings-notification-form {
    margin: 0;
    width: 100%;
  }

  .horizontal-fieldset {
    display: flex;
    width: 100%;
  }

  .horizontal-fieldset > label {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
  }


  
  .email-notification-block {
    flex-direction: column;
  }

  