.logo.logo--sidenav {
  min-width: 150px;
  max-width: 20%;
    position: relative;
    justify-self: center;
    align-self: center;
    top: 0rem;
    left: 1rem;
    order: 2;
    margin-top: 8rem;
  }

.logo-icon {
    position: relative;
    background-image: url("../logotype.png");
    display: none;
  }

  .mobile-icon {
    display: block;
    width: 20%;
    margin: 1rem auto;
  }
  
  .user-image {
    display: none;
  }

  .menu {
    position: fixed;
    width: 100%;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transform: translateX(-999px);
    transition: transform .5s ease-in-out;
  }

  .menu-toggle {
    position: fixed;
    top: 2rem;
    left: 1rem;
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.602);
    font-size: 2rem;
  }

  .menu-toggle--close {
    position: relative;
    top: 2rem;
    left: 1rem;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: #fff;
  }
  
  .side-nav-block {
    display: flex;
    
    z-index: 100001;
    width: 100%;
  }

  .side-nav-block > h5 {
    color: #fff;
    font-size: 1rem;
  }
  
  .side-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    align-self: center;
    margin-top: 5rem;
    order: 1;
    padding: 0 2rem;
  }
  
  .side-nav:hover {
    color:rgb(197, 71, 71);
  }
  
  .side-nav-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: max(1vw, 28px);
    margin: 1rem 0.5rem;
  }
  
  .side-nav-link:hover {
    color: rgba(255, 255, 255, 0.609);
  }

@media (min-width: 480px){
  .logo.logo--sidenav {
    min-width: 150px;
    max-width: 20%;
      justify-content: center;
      margin: 0;
      top: 0rem;
      left: 1rem;
      order: 1;
    }
  
  .logo-icon {
      position: relative;
      background-image: url("../logotype.png");
      display: none;
    }

    .mobile-icon {
      display: none;
    }
    
    .user-image {
      display: none;
    }

    .menu-toggle {
      display: none;
    }

    .menu-toggle--close {
      display: none;
    }

    .menu {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: auto;
      justify-content: space-around;
      background-color: #282c34;
      transform: initial !important;
    }
  
    .menu > h5 {
      color: #fff;
      font-size: 1rem;
    }

    .side-nav-block {
      position: relative;
      width: 100vh;
    }
    
    .side-nav {
      flex-direction: row;
      align-items: center;
      width: fit-content;
      order: 2;
      padding: 0 2rem;
      margin-top: 0;
    }
    
    .side-nav:hover {
      color:rgb(197, 71, 71);
    }
    
    .side-nav-link {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      font-size: max(1vw, 18px);
      margin: 1rem 0.5rem;
    }
    
    .side-nav-link:hover {
      color: rgba(255, 255, 255, 0.609);
    }
}


@media (min-width: 1280px){
  .logo.logo--sidenav {
    width: 50%;
      order: 2;
      align-self: center;
      margin-right: 2rem;
    }
  
  .logo-icon {
    display: block;
      width: 100%;
      height: 100px;
      background-repeat: no-repeat;
      background-size: contain;
      top: 15%;
      left: 20%;
    
      z-index: 999;
    }
    
    .user-image {
      display: block;
      position: relative;
      width: 30%;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 50%;
      top: 10%;
      left: 35%;
      z-index: 999;
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .side-nav-block {
      position: relative;
      display: flex;
      justify-content: initial;
      align-items:initial;
      flex-direction: column;
      width: 20%;
      height: 100%;
      background-color: #282c34;
      z-index: 1000;
    }
  
    .side-nav-block > h5 {
      color: #fff;
      font-size: 1.5rem;
    }
    
    .side-nav {
      flex-direction: column;
      width: fit-content;
      margin: 40% auto;
      order: 1;
    }
    
    .side-nav:hover {
      color:rgb(197, 71, 71);
    }
    
    .side-nav-link {
      display: block;
      font-size: 1.3rem;
      margin-top:1.33rem;
    }
    
    .side-nav-link:hover {
      color: rgba(255, 255, 255, 0.609);
    }
}
